.container{
    margin-bottom: 100px;
}
h1{
    color:black;
}
button{
    color: white;
    background-color: black;
    padding:  10px 24px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgray;
    text-align: center;
    padding: 20px 25px;
}
.card-footer{
    border: none;
    border-radius: 15px;
    background-color: white;
    text-align: center;
}
h4{
    color: orange;
}
#underline{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-style: double;
}