.container{
    margin-bottom: 100px;
}
.carousel{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.carousel-indicators .active{
    background-image: linear-gradient(to right, rgb(226, 156, 26), rgb(233, 196, 128));
    width: 36px;   
}
.carousel-indicators li{
    border: none;
    height: 10px;
    width: 38px;
    border-radius: 14px;
    opacity: 1;
}
h1{
    color:black;
}
button{
    color: white;
    background-color: black;
    padding:  10px 24px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgray;
    text-align: center;
    padding: 20px 25px;
}
.card-footer{
    border: none;
    border-radius: 15px;
    background-color: white;
    text-align: center;
}
h4{
    color: orange;
}

hr{
    background-color: orange;
    height: 8px;
    width: 120px;
    border-radius: 80px;
}
.bag, .perfume, .shoe{
    box-shadow: 5px 5px 10px grey;
    text-align: center;
}
.bag{
    border-radius:0 0 0 15px ;
}.perfume{
    border-radius:0 0 15px 0 ;
}.shoe{
    border-radius:0 0 15px 0 ;
}